/* HEADER */
.navbar {
    background-color: #000116 !important;
}

#navbarNav .sub-menu.dropdown-menu {
    padding-left: 0;
    padding-right: 0;
    top: 55px;
}

#navbarNav .sub-menu a.nav-link {
    padding: 0.5rem 1.7rem !important;
}

#navbarNav .nav-item > .sub-menu > .nav-link:hover{
    background-color:rgba(175,202,11,1.0);
}


/* FOOTER */
footer .socials ul li a.youtube {
    background: url("images/icon_youtube.png") no-repeat;
}

footer .socials ul li a.twitter {
    background: url("images/icon_twitter.png") no-repeat;
}

footer .socials ul li a.slideshare {
    background: url("images/icon_slideshare.png") no-repeat;
}

footer .socials ul li a.linkedin {
    background: url("images/icon_linkedin.png") no-repeat;
}

.footer-menu ul li a {
    padding: .2rem 0 !important;
  }

.custom-footer-widget {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-widget-title {
    font-size: 1.1rem;
    font-weight: normal !important;
    font-family: "VerbExtrabold", helvetica, arial, sans-serif;
}

@media (min-width: 768px) {
    .custom-footer-widget {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .cf2w-widget {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

@media (max-width: 667px) {
    .socials ul {
        display: flex;
        gap: 21px;
        margin-left: 8px;
    }

    .custom-footer .socials ul li a {
        transform: scale(1.6);
    }
}


/* TEAM FILTER */
.team-top-section {
    padding: 80px 0 !important;
    margin-top: 80px;
}

.team-top-section .team-header h3 {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.team-top-section .expert-cont {
    color: #fff;
    max-width: 66.666667%;
    padding-right: 30px;
    margin-bottom: 2.5rem;
}

.team-top-section .team-f-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-top-section .team-left {
    width: 66.66%;
}

.team-top-section .team-right {
    width: 33.33%;
}

.team-top-section .team-f-title h5 {
    font-size: 17px;
    color: #fff;
    line-height: 1.52;
    font-weight: 400;
    font-family: 'VerbExtrabold',helvetica,arial,sans-serif;
}

.team-top-section li {
    list-style-type: none;
}

.team-top-section .team-filter-box > div {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 36.5px;
    padding-right: 30px;
}

.team-top-section .sector-filter {
    padding-top: 6px;
    position: relative;
    max-width: 100%;
    border-right: 1px solid #afca0b;
}

.team-top-section .sector-filter > label {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.team-top-section .sector-filter .typeListing {
    position: absolute;
    width: 445px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 0;
    display: none;
    z-index: 1;
}

.team-top-section .typeListing > li a {
    display: block;
    padding: .25rem 1.5rem;
    color: #212529;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
}

.team-top-section .typeListing > li:hover {
    background-color: #fafafa;
}

.team-top-section .location-filter {
    padding-left: 30px;
}

.team-top-section .location-filter > label {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.team-top-section .location-filter .typeListing {
    position: absolute;
    width: 257px;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 10px;
    display: none;
    z-index: 1;
}

.team-top-section .searchtext {
    color: #fff;
    font-family: 'VerbExtrabold',helvetica,arial,sans-serif;
    font-size: 17px;
    line-height: 1.12;
    text-transform: uppercase;
}

.team-top-section .input-group {
    position: relative;
    padding-top: 6px;
}

.team-top-section .input-group #quicksearch {
    background-color: #000116;
    border: 2px solid #fff;
    color: #fff;
    padding: 6.5px .75rem;
    width: 100%;
    max-width: 100%;
    outline: none !important;
    line-height: 1;
}

.team-top-section .input-group-append > div > i {
    color: #fff;
    position: absolute;
    top: 18px;
    right: 15px;
}


/* TEAM LIST */
.profile-box-hidden {
    display: none;
}

.profile-box {
    width: 25%;
    padding: 20px 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.profile-box .profile-img img {
    max-width: 100%;
    border-radius: 50%;
    width: 175px;
    margin: 0 auto;
    filter: grayscale(100%);
}

.profile-box .profile-name {
    padding-top: 20px;
}

.profile-box .profile-name a {
    color: #000116;
    font-family: VerbExtrabold,helvetica,arial,sans-serif;
}

.profile-box:hover .profile-name a {
    color: #afca0b;
    text-decoration: none;
}

.profile-box .profile-designation {
    padding-top: 4px;
}

.profile-box .profile-location {
    padding-top: 6px;
    font-style: italic;
}

.profile-box .profile-social-icons {
    padding-top: 8px;
}

.profile-box .profile-social-icons ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-box .profile-social-icons ul > li > a {
    color: #000116;
    width: 28px;
    max-width: 100%;
    padding: 14px 17.3px;
}

@media (max-width: 767px) {
    .profile-box {
        width: 50%;
        padding: 32px 16px;
    }
}

@media (max-width: 667px) {
    .profile-box {
        width: 100%;
    }
}

/* TEAM DETAILS */
.expert-details .team-two-col {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
}

.expert-details .team-left {
    width: 35%;
    padding-right: 8px;
}

.expert-details .team-bg-img {
    width: 284px;
    height: 284px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.expert-details .team-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.expert-details .team-right {
    width: 65%;
    padding-left: 10px;
}

.expert-details .profile-title-in h1 {
    text-transform: uppercase;
}

.expert-details .profile-designation {
    padding-top: 8px;
    text-transform: uppercase;
}

.expert-details .profile-designation h6 {
    color: #000116;
    font-family: 'VerbExtrabold',helvetica,arial,sans-serif;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.expert-details .city-title {
    padding-top: 24px;
    text-transform: uppercase;
}

.expert-details .city-title p {
    font-weight: 500;
    font-family: VerbMedium,helvetica,arial,sans-serif;
}

.expert-details .city-title i {
    color: #afca0b;
}

.expert-details .social-icon {
    padding-top: 8px;
}

.expert-details .social-icon ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.expert-details .social-icon ul > li > a {
    color: #000116;
    padding: 14px 17.3px;
}

.expert-details .team-profile-con {
    padding-top: 20px;
}